.animate-divider {
  animation: animate-circle 2s ease-in-out infinite;
}

@keyframes animate-circle {
  0% {
    width: 6px;
    height: 6px;
    background-color: #fce38a;
    transform: scale(1);
  }
  50% {
    width: 10px;
    height: 10px;
    background-color: #f38181;
    transform: scale(1.2);
  }
  100% {
    width: 6px;
    height: 6px;
    background-color: #fce38a;
    transform: scale(1);
  }
}
