/* this is hover animation css */

.hover-animated-container {
  transition: transform 0.3s ease, background 0.3s ease;
  background: var(--initial-background, white);
}

:root.dark .hover-animated-container {
  background: var(--initial-background, #2d2d2d);
}

.hover-animated-container:hover {
  transform: scale(1.05); /* Zooms in the box */
  --initial-background: rgba(214, 162, 232, 0.5); /* Half opacity gradient */
  background: var(--initial-background, white);
  animation: alternate-gradient 4s linear infinite;
  background-size: 200% auto;
}

:root.dark .hover-animated-container:hover {
  --initial-background: rgba(75, 85, 99, 0.5); /* Half opacity gradient */
  background: var(--initial-background, #2d2d2d);
}

@keyframes alternate-gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* Example of a different gradient for the hover effect */
.hover-animated-container:hover {
  background-image: linear-gradient(
    to right,
    #1a74eb,
    /* Different color */ #b6fbff /* Different color */
  );
}

:root.dark .hover-animated-container:hover {
  background-image: linear-gradient(
    to right,
    #2563eb,
    /* Different color */ #06b6d4 /* Different color */
  );
}